---
import "./Button.styles.css";

import { getClassList, getDisabledState } from "./Button.ts";

import type { ButtonProps } from "./Button.types.ts";

const { ...buttonProps }: ButtonProps = Astro.props;
const classList = getClassList(buttonProps);
const {
  class: className,
  as: Tag = "button",
  disabled,
  loading,
  loadingText,
  spinner,
  spinnerPlacement = "start",
  ...props
} = buttonProps;
---

<Tag class:list={[classList, className]} {...props} data-loading={loading} disabled={disabled || loading}>
  {loading ?
    (<span class="loading-content">
      {spinnerPlacement === "start" && (
        loadingText ?
          (spinner ? spinner : <span>[]</span>) :
          (<span class="spinner-wrapper">
            {spinner ? spinner : <span>[]</span>}
          </span>)
      )}
      {loadingText ?
        loadingText :
        <span class="text-wrapper">
          <slot />
        </span>}
      {spinnerPlacement === "end" && (
        loadingText ?
          (spinner ? spinner : <span>[]</span>) :
          (<span class="spinner-wrapper">{spinner ?
            spinner :
            <span>[]</span>}
          </span>)
      )}
    </span>) :
    <slot />}
</Tag>
