@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* ===== RED ===== */

  --nova-color-red-50: var(--color-red-50);
  --nova-color-red-100: var(--color-red-100);
  --nova-color-red-200: var(--color-red-200);
  --nova-color-red-300: var(--color-red-300);
  --nova-color-red-400: var(--color-red-400);
  --nova-color-red-500: var(--color-red-500);
  --nova-color-red-600: var(--color-red-600);
  --nova-color-red-700: var(--color-red-700);
  --nova-color-red-800: var(--color-red-800);
  --nova-color-red-900: var(--color-red-900);
  --nova-color-red-950: var(--color-red-950);

  --nova-color-red-contrast: var(--color-white);
  --nova-color-red-fg: var(--color-red-700);
  --nova-color-red-subtle: var(--color-red-100);
  --nova-color-red-muted: var(--color-red-200);
  --nova-color-red-emphasized: var(--color-red-300);
  --nova-color-red-solid: var(--color-red-600);
  --nova-color-red-focus-ring: var(--color-red-500);

  @variant dark {
    --nova-color-red-contrast: var(--color-white);
    --nova-color-red-fg: var(--color-red-300);
    --nova-color-red-subtle: var(--color-red-900);
    --nova-color-red-muted: var(--color-red-800);
    --nova-color-red-emphasized: var(--color-red-700);
    --nova-color-red-solid: var(--color-red-600);
    --nova-color-red-focus-ring: var(--color-red-500);
  }

  /* ===== ORANGE ===== */

  --nova-color-orange-50: var(--color-orange-50);
  --nova-color-orange-100: var(--color-orange-100);
  --nova-color-orange-200: var(--color-orange-200);
  --nova-color-orange-300: var(--color-orange-300);
  --nova-color-orange-400: var(--color-orange-400);
  --nova-color-orange-500: var(--color-orange-500);
  --nova-color-orange-600: var(--color-orange-600);
  --nova-color-orange-700: var(--color-orange-700);
  --nova-color-orange-800: var(--color-orange-800);
  --nova-color-orange-900: var(--color-orange-900);
  --nova-color-orange-950: var(--color-orange-950);

  --nova-color-orange-contrast: var(--color-white);
  --nova-color-orange-fg: var(--color-orange-700);
  --nova-color-orange-subtle: var(--color-orange-100);
  --nova-color-orange-muted: var(--color-orange-200);
  --nova-color-orange-emphasized: var(--color-orange-300);
  --nova-color-orange-solid: var(--color-orange-600);
  --nova-color-orange-focus-ring: var(--color-orange-500);

  @variant dark {
    --nova-color-orange-contrast: var(--color-black);
    --nova-color-orange-fg: var(--color-orange-300);
    --nova-color-orange-subtle: var(--color-orange-900);
    --nova-color-orange-muted: var(--color-orange-800);
    --nova-color-orange-emphasized: var(--color-orange-700);
    --nova-color-orange-solid: var(--color-orange-500);
    --nova-color-orange-focus-ring: var(--color-orange-500);
  }

  /* ===== AMBER ===== */

  --nova-color-amber-50: var(--color-amber-50);
  --nova-color-amber-100: var(--color-amber-100);
  --nova-color-amber-200: var(--color-amber-200);
  --nova-color-amber-300: var(--color-amber-300);
  --nova-color-amber-400: var(--color-amber-400);
  --nova-color-amber-500: var(--color-amber-500);
  --nova-color-amber-600: var(--color-amber-600);
  --nova-color-amber-700: var(--color-amber-700);
  --nova-color-amber-800: var(--color-amber-800);
  --nova-color-amber-900: var(--color-amber-900);
  --nova-color-amber-950: var(--color-amber-950);

  --nova-color-amber-contrast: var(--color-black);
  --nova-color-amber-fg: var(--color-amber-800);
  --nova-color-amber-subtle: var(--color-amber-100);
  --nova-color-amber-muted: var(--color-amber-200);
  --nova-color-amber-emphasized: var(--color-amber-300);
  --nova-color-amber-solid: var(--color-amber-400);
  --nova-color-amber-focus-ring: var(--color-amber-500);

  @variant dark {
    --nova-color-amber-contrast: var(--color-black);
    --nova-color-amber-fg: var(--color-amber-300);
    --nova-color-amber-subtle: var(--color-amber-900);
    --nova-color-amber-muted: var(--color-amber-800);
    --nova-color-amber-emphasized: var(--color-amber-700);
    --nova-color-amber-solid: var(--color-amber-400);
    --nova-color-amber-focus-ring: var(--color-amber-500);
  }

  /* ===== YELLOW ===== */

  --nova-color-yellow-50: var(--color-yellow-50);
  --nova-color-yellow-100: var(--color-yellow-100);
  --nova-color-yellow-200: var(--color-yellow-200);
  --nova-color-yellow-300: var(--color-yellow-300);
  --nova-color-yellow-400: var(--color-yellow-400);
  --nova-color-yellow-500: var(--color-yellow-500);
  --nova-color-yellow-600: var(--color-yellow-600);
  --nova-color-yellow-700: var(--color-yellow-700);
  --nova-color-yellow-800: var(--color-yellow-800);
  --nova-color-yellow-900: var(--color-yellow-900);
  --nova-color-yellow-950: var(--color-yellow-950);

  --nova-color-yellow-contrast: var(--color-black);
  --nova-color-yellow-fg: var(--color-yellow-800);
  --nova-color-yellow-subtle: var(--color-yellow-100);
  --nova-color-yellow-muted: var(--color-yellow-200);
  --nova-color-yellow-emphasized: var(--color-yellow-300);
  --nova-color-yellow-solid: var(--color-yellow-300);
  --nova-color-yellow-focus-ring: var(--color-yellow-500);

  @variant dark {
    --nova-color-yellow-contrast: var(--color-black);
    --nova-color-yellow-fg: var(--color-yellow-300);
    --nova-color-yellow-subtle: var(--color-yellow-900);
    --nova-color-yellow-muted: var(--color-yellow-800);
    --nova-color-yellow-emphasized: var(--color-yellow-700);
    --nova-color-yellow-solid: var(--color-yellow-300);
    --nova-color-yellow-focus-ring: var(--color-yellow-500);
  }

  /* ===== LIME ===== */

  --nova-color-lime-50: var(--color-lime-50);
  --nova-color-lime-100: var(--color-lime-100);
  --nova-color-lime-200: var(--color-lime-200);
  --nova-color-lime-300: var(--color-lime-300);
  --nova-color-lime-400: var(--color-lime-400);
  --nova-color-lime-500: var(--color-lime-500);
  --nova-color-lime-600: var(--color-lime-600);
  --nova-color-lime-700: var(--color-lime-700);
  --nova-color-lime-800: var(--color-lime-800);
  --nova-color-lime-900: var(--color-lime-900);
  --nova-color-lime-950: var(--color-lime-950);

  --nova-color-lime-contrast: var(--color-white);
  --nova-color-lime-fg: var(--color-lime-700);
  --nova-color-lime-subtle: var(--color-lime-100);
  --nova-color-lime-muted: var(--color-lime-200);
  --nova-color-lime-emphasized: var(--color-lime-300);
  --nova-color-lime-solid: var(--color-lime-600);
  --nova-color-lime-focus-ring: var(--color-lime-500);

  @variant dark {
    --nova-color-lime-contrast: var(--color-white);
    --nova-color-lime-fg: var(--color-lime-300);
    --nova-color-lime-subtle: var(--color-lime-900);
    --nova-color-lime-muted: var(--color-lime-800);
    --nova-color-lime-emphasized: var(--color-lime-700);
    --nova-color-lime-solid: var(--color-lime-600);
    --nova-color-lime-focus-ring: var(--color-lime-500);
  }

  /* ===== GREEN ===== */

  --nova-color-green-50: var(--color-green-50);
  --nova-color-green-100: var(--color-green-100);
  --nova-color-green-200: var(--color-green-200);
  --nova-color-green-300: var(--color-green-300);
  --nova-color-green-400: var(--color-green-400);
  --nova-color-green-500: var(--color-green-500);
  --nova-color-green-600: var(--color-green-600);
  --nova-color-green-700: var(--color-green-700);
  --nova-color-green-800: var(--color-green-800);
  --nova-color-green-900: var(--color-green-900);
  --nova-color-green-950: var(--color-green-950);

  --nova-color-green-contrast: var(--color-white);
  --nova-color-green-fg: var(--color-green-700);
  --nova-color-green-subtle: var(--color-green-100);
  --nova-color-green-muted: var(--color-green-200);
  --nova-color-green-emphasized: var(--color-green-300);
  --nova-color-green-solid: var(--color-green-600);
  --nova-color-green-focus-ring: var(--color-green-500);

  @variant dark {
    --nova-color-green-contrast: var(--color-white);
    --nova-color-green-fg: var(--color-green-300);
    --nova-color-green-subtle: var(--color-green-900);
    --nova-color-green-muted: var(--color-green-800);
    --nova-color-green-emphasized: var(--color-green-700);
    --nova-color-green-solid: var(--color-green-600);
    --nova-color-green-focus-ring: var(--color-green-500);
  }

  /* ===== EMERALD ===== */

  --nova-color-emerald-50: var(--color-emerald-50);
  --nova-color-emerald-100: var(--color-emerald-100);
  --nova-color-emerald-200: var(--color-emerald-200);
  --nova-color-emerald-300: var(--color-emerald-300);
  --nova-color-emerald-400: var(--color-emerald-400);
  --nova-color-emerald-500: var(--color-emerald-500);
  --nova-color-emerald-600: var(--color-emerald-600);
  --nova-color-emerald-700: var(--color-emerald-700);
  --nova-color-emerald-800: var(--color-emerald-800);
  --nova-color-emerald-900: var(--color-emerald-900);
  --nova-color-emerald-950: var(--color-emerald-950);

  --nova-color-emerald-contrast: var(--color-white);
  --nova-color-emerald-fg: var(--color-emerald-700);
  --nova-color-emerald-subtle: var(--color-emerald-100);
  --nova-color-emerald-muted: var(--color-emerald-200);
  --nova-color-emerald-emphasized: var(--color-emerald-300);
  --nova-color-emerald-solid: var(--color-emerald-600);
  --nova-color-emerald-focus-ring: var(--color-emerald-500);

  @variant dark {
    --nova-color-emerald-contrast: var(--color-white);
    --nova-color-emerald-fg: var(--color-emerald-300);
    --nova-color-emerald-subtle: var(--color-emerald-900);
    --nova-color-emerald-muted: var(--color-emerald-800);
    --nova-color-emerald-emphasized: var(--color-emerald-700);
    --nova-color-emerald-solid: var(--color-emerald-600);
    --nova-color-emerald-focus-ring: var(--color-emerald-500);
  }

  /* ===== TEAL ===== */

  --nova-color-teal-50: var(--color-teal-50);
  --nova-color-teal-100: var(--color-teal-100);
  --nova-color-teal-200: var(--color-teal-200);
  --nova-color-teal-300: var(--color-teal-300);
  --nova-color-teal-400: var(--color-teal-400);
  --nova-color-teal-500: var(--color-teal-500);
  --nova-color-teal-600: var(--color-teal-600);
  --nova-color-teal-700: var(--color-teal-700);
  --nova-color-teal-800: var(--color-teal-800);
  --nova-color-teal-900: var(--color-teal-900);
  --nova-color-teal-950: var(--color-teal-950);

  --nova-color-teal-contrast: var(--color-white);
  --nova-color-teal-fg: var(--color-teal-700);
  --nova-color-teal-subtle: var(--color-teal-100);
  --nova-color-teal-muted: var(--color-teal-200);
  --nova-color-teal-emphasized: var(--color-teal-300);
  --nova-color-teal-solid: var(--color-teal-600);
  --nova-color-teal-focus-ring: var(--color-teal-500);

  @variant dark {
    --nova-color-teal-contrast: var(--color-white);
    --nova-color-teal-fg: var(--color-teal-300);
    --nova-color-teal-subtle: var(--color-teal-900);
    --nova-color-teal-muted: var(--color-teal-800);
    --nova-color-teal-emphasized: var(--color-teal-700);
    --nova-color-teal-solid: var(--color-teal-600);
    --nova-color-teal-focus-ring: var(--color-teal-500);
  }

  /* ===== CYAN ===== */

  --nova-color-cyan-50: var(--color-cyan-50);
  --nova-color-cyan-100: var(--color-cyan-100);
  --nova-color-cyan-200: var(--color-cyan-200);
  --nova-color-cyan-300: var(--color-cyan-300);
  --nova-color-cyan-400: var(--color-cyan-400);
  --nova-color-cyan-500: var(--color-cyan-500);
  --nova-color-cyan-600: var(--color-cyan-600);
  --nova-color-cyan-700: var(--color-cyan-700);
  --nova-color-cyan-800: var(--color-cyan-800);
  --nova-color-cyan-900: var(--color-cyan-900);
  --nova-color-cyan-950: var(--color-cyan-950);

  --nova-color-cyan-contrast: var(--color-white);
  --nova-color-cyan-fg: var(--color-cyan-700);
  --nova-color-cyan-subtle: var(--color-cyan-100);
  --nova-color-cyan-muted: var(--color-cyan-200);
  --nova-color-cyan-emphasized: var(--color-cyan-300);
  --nova-color-cyan-solid: var(--color-cyan-600);
  --nova-color-cyan-focus-ring: var(--color-cyan-500);

  @variant dark {
    --nova-color-cyan-contrast: var(--color-white);
    --nova-color-cyan-fg: var(--color-cyan-300);
    --nova-color-cyan-subtle: var(--color-cyan-900);
    --nova-color-cyan-muted: var(--color-cyan-800);
    --nova-color-cyan-emphasized: var(--color-cyan-700);
    --nova-color-cyan-solid: var(--color-cyan-600);
    --nova-color-cyan-focus-ring: var(--color-cyan-500);
  }

  /* ===== SKY ===== */

  --nova-color-sky-50: var(--color-sky-50);
  --nova-color-sky-100: var(--color-sky-100);
  --nova-color-sky-200: var(--color-sky-200);
  --nova-color-sky-300: var(--color-sky-300);
  --nova-color-sky-400: var(--color-sky-400);
  --nova-color-sky-500: var(--color-sky-500);
  --nova-color-sky-600: var(--color-sky-600);
  --nova-color-sky-700: var(--color-sky-700);
  --nova-color-sky-800: var(--color-sky-800);
  --nova-color-sky-900: var(--color-sky-900);
  --nova-color-sky-950: var(--color-sky-950);

  --nova-color-sky-contrast: var(--color-white);
  --nova-color-sky-fg: var(--color-sky-700);
  --nova-color-sky-subtle: var(--color-sky-100);
  --nova-color-sky-muted: var(--color-sky-200);
  --nova-color-sky-emphasized: var(--color-sky-300);
  --nova-color-sky-solid: var(--color-sky-600);
  --nova-color-sky-focus-ring: var(--color-sky-500);

  @variant dark {
    --nova-color-sky-contrast: var(--color-white);
    --nova-color-sky-fg: var(--color-sky-300);
    --nova-color-sky-subtle: var(--color-sky-900);
    --nova-color-sky-muted: var(--color-sky-800);
    --nova-color-sky-emphasized: var(--color-sky-700);
    --nova-color-sky-solid: var(--color-sky-600);
    --nova-color-sky-focus-ring: var(--color-sky-500);
  }

  /* ===== BLUE ===== */

  --nova-color-blue-50: var(--color-blue-50);
  --nova-color-blue-100: var(--color-blue-100);
  --nova-color-blue-200: var(--color-blue-200);
  --nova-color-blue-300: var(--color-blue-300);
  --nova-color-blue-400: var(--color-blue-400);
  --nova-color-blue-500: var(--color-blue-500);
  --nova-color-blue-600: var(--color-blue-600);
  --nova-color-blue-700: var(--color-blue-700);
  --nova-color-blue-800: var(--color-blue-800);
  --nova-color-blue-900: var(--color-blue-900);
  --nova-color-blue-950: var(--color-blue-950);

  --nova-color-blue-contrast: var(--color-white);
  --nova-color-blue-fg: var(--color-blue-700);
  --nova-color-blue-subtle: var(--color-blue-100);
  --nova-color-blue-muted: var(--color-blue-200);
  --nova-color-blue-emphasized: var(--color-blue-300);
  --nova-color-blue-solid: var(--color-blue-600);
  --nova-color-blue-focus-ring: var(--color-blue-500);

  @variant dark {
    --nova-color-blue-contrast: var(--color-white);
    --nova-color-blue-fg: var(--color-blue-300);
    --nova-color-blue-subtle: var(--color-blue-900);
    --nova-color-blue-muted: var(--color-blue-800);
    --nova-color-blue-emphasized: var(--color-blue-700);
    --nova-color-blue-solid: var(--color-blue-600);
    --nova-color-blue-focus-ring: var(--color-blue-500);
  }

  /* ===== INDIGO ===== */

  --nova-color-indigo-50: var(--color-indigo-50);
  --nova-color-indigo-100: var(--color-indigo-100);
  --nova-color-indigo-200: var(--color-indigo-200);
  --nova-color-indigo-300: var(--color-indigo-300);
  --nova-color-indigo-400: var(--color-indigo-400);
  --nova-color-indigo-500: var(--color-indigo-500);
  --nova-color-indigo-600: var(--color-indigo-600);
  --nova-color-indigo-700: var(--color-indigo-700);
  --nova-color-indigo-800: var(--color-indigo-800);
  --nova-color-indigo-900: var(--color-indigo-900);
  --nova-color-indigo-950: var(--color-indigo-950);

  --nova-color-indigo-contrast: var(--color-white);
  --nova-color-indigo-fg: var(--color-indigo-700);
  --nova-color-indigo-subtle: var(--color-indigo-100);
  --nova-color-indigo-muted: var(--color-indigo-200);
  --nova-color-indigo-emphasized: var(--color-indigo-300);
  --nova-color-indigo-solid: var(--color-indigo-600);
  --nova-color-indigo-focus-ring: var(--color-indigo-500);

  @variant dark {
    --nova-color-indigo-contrast: var(--color-white);
    --nova-color-indigo-fg: var(--color-indigo-300);
    --nova-color-indigo-subtle: var(--color-indigo-900);
    --nova-color-indigo-muted: var(--color-indigo-800);
    --nova-color-indigo-emphasized: var(--color-indigo-700);
    --nova-color-indigo-solid: var(--color-indigo-600);
    --nova-color-indigo-focus-ring: var(--color-indigo-500);
  }

  /* ===== VIOLET ===== */

  --nova-color-violet-50: var(--color-violet-50);
  --nova-color-violet-100: var(--color-violet-100);
  --nova-color-violet-200: var(--color-violet-200);
  --nova-color-violet-300: var(--color-violet-300);
  --nova-color-violet-400: var(--color-violet-400);
  --nova-color-violet-500: var(--color-violet-500);
  --nova-color-violet-600: var(--color-violet-600);
  --nova-color-violet-700: var(--color-violet-700);
  --nova-color-violet-800: var(--color-violet-800);
  --nova-color-violet-900: var(--color-violet-900);
  --nova-color-violet-950: var(--color-violet-950);

  --nova-color-violet-contrast: var(--color-white);
  --nova-color-violet-fg: var(--color-violet-700);
  --nova-color-violet-subtle: var(--color-violet-100);
  --nova-color-violet-muted: var(--color-violet-200);
  --nova-color-violet-emphasized: var(--color-violet-300);
  --nova-color-violet-solid: var(--color-violet-600);
  --nova-color-violet-focus-ring: var(--color-violet-500);

  @variant dark {
    --nova-color-violet-contrast: var(--color-white);
    --nova-color-violet-fg: var(--color-violet-300);
    --nova-color-violet-subtle: var(--color-violet-900);
    --nova-color-violet-muted: var(--color-violet-800);
    --nova-color-violet-emphasized: var(--color-violet-700);
    --nova-color-violet-solid: var(--color-violet-600);
    --nova-color-violet-focus-ring: var(--color-violet-500);
  }

  /* ===== PURPLE ===== */

  --nova-color-purple-50: var(--color-purple-50);
  --nova-color-purple-100: var(--color-purple-100);
  --nova-color-purple-200: var(--color-purple-200);
  --nova-color-purple-300: var(--color-purple-300);
  --nova-color-purple-400: var(--color-purple-400);
  --nova-color-purple-500: var(--color-purple-500);
  --nova-color-purple-600: var(--color-purple-600);
  --nova-color-purple-700: var(--color-purple-700);
  --nova-color-purple-800: var(--color-purple-800);
  --nova-color-purple-900: var(--color-purple-900);
  --nova-color-purple-950: var(--color-purple-950);

  --nova-color-purple-contrast: var(--color-white);
  --nova-color-purple-fg: var(--color-purple-700);
  --nova-color-purple-subtle: var(--color-purple-100);
  --nova-color-purple-muted: var(--color-purple-200);
  --nova-color-purple-emphasized: var(--color-purple-300);
  --nova-color-purple-solid: var(--color-purple-600);
  --nova-color-purple-focus-ring: var(--color-purple-500);

  @variant dark {
    --nova-color-purple-contrast: var(--color-white);
    --nova-color-purple-fg: var(--color-purple-300);
    --nova-color-purple-subtle: var(--color-purple-900);
    --nova-color-purple-muted: var(--color-purple-800);
    --nova-color-purple-emphasized: var(--color-purple-700);
    --nova-color-purple-solid: var(--color-purple-600);
    --nova-color-purple-focus-ring: var(--color-purple-500);
  }

  /* ===== FUCHSIA ===== */

  --nova-color-fuchsia-50: var(--color-fuchsia-50);
  --nova-color-fuchsia-100: var(--color-fuchsia-100);
  --nova-color-fuchsia-200: var(--color-fuchsia-200);
  --nova-color-fuchsia-300: var(--color-fuchsia-300);
  --nova-color-fuchsia-400: var(--color-fuchsia-400);
  --nova-color-fuchsia-500: var(--color-fuchsia-500);
  --nova-color-fuchsia-600: var(--color-fuchsia-600);
  --nova-color-fuchsia-700: var(--color-fuchsia-700);
  --nova-color-fuchsia-800: var(--color-fuchsia-800);
  --nova-color-fuchsia-900: var(--color-fuchsia-900);
  --nova-color-fuchsia-950: var(--color-fuchsia-950);

  --nova-color-fuchsia-contrast: var(--color-white);
  --nova-color-fuchsia-fg: var(--color-fuchsia-700);
  --nova-color-fuchsia-subtle: var(--color-fuchsia-100);
  --nova-color-fuchsia-muted: var(--color-fuchsia-200);
  --nova-color-fuchsia-emphasized: var(--color-fuchsia-300);
  --nova-color-fuchsia-solid: var(--color-fuchsia-600);
  --nova-color-fuchsia-focus-ring: var(--color-fuchsia-500);

  @variant dark {
    --nova-color-fuchsia-contrast: var(--color-white);
    --nova-color-fuchsia-fg: var(--color-fuchsia-300);
    --nova-color-fuchsia-subtle: var(--color-fuchsia-900);
    --nova-color-fuchsia-muted: var(--color-fuchsia-800);
    --nova-color-fuchsia-emphasized: var(--color-fuchsia-700);
    --nova-color-fuchsia-solid: var(--color-fuchsia-600);
    --nova-color-fuchsia-focus-ring: var(--color-fuchsia-500);
  }

  /* ===== PINK ===== */

  --nova-color-pink-50: var(--color-pink-50);
  --nova-color-pink-100: var(--color-pink-100);
  --nova-color-pink-200: var(--color-pink-200);
  --nova-color-pink-300: var(--color-pink-300);
  --nova-color-pink-400: var(--color-pink-400);
  --nova-color-pink-500: var(--color-pink-500);
  --nova-color-pink-600: var(--color-pink-600);
  --nova-color-pink-700: var(--color-pink-700);
  --nova-color-pink-800: var(--color-pink-800);
  --nova-color-pink-900: var(--color-pink-900);
  --nova-color-pink-950: var(--color-pink-950);

  --nova-color-pink-contrast: var(--color-white);
  --nova-color-pink-fg: var(--color-pink-700);
  --nova-color-pink-subtle: var(--color-pink-100);
  --nova-color-pink-muted: var(--color-pink-200);
  --nova-color-pink-emphasized: var(--color-pink-300);
  --nova-color-pink-solid: var(--color-pink-600);
  --nova-color-pink-focus-ring: var(--color-pink-500);

  @variant dark {
    --nova-color-pink-contrast: var(--color-white);
    --nova-color-pink-fg: var(--color-pink-300);
    --nova-color-pink-subtle: var(--color-pink-900);
    --nova-color-pink-muted: var(--color-pink-800);
    --nova-color-pink-emphasized: var(--color-pink-700);
    --nova-color-pink-solid: var(--color-pink-600);
    --nova-color-pink-focus-ring: var(--color-pink-500);
  }

  /* ===== ROSE ===== */

  --nova-color-rose-50: var(--color-rose-50);
  --nova-color-rose-100: var(--color-rose-100);
  --nova-color-rose-200: var(--color-rose-200);
  --nova-color-rose-300: var(--color-rose-300);
  --nova-color-rose-400: var(--color-rose-400);
  --nova-color-rose-500: var(--color-rose-500);
  --nova-color-rose-600: var(--color-rose-600);
  --nova-color-rose-700: var(--color-rose-700);
  --nova-color-rose-800: var(--color-rose-800);
  --nova-color-rose-900: var(--color-rose-900);
  --nova-color-rose-950: var(--color-rose-950);

  --nova-color-rose-contrast: var(--color-white);
  --nova-color-rose-fg: var(--color-rose-700);
  --nova-color-rose-subtle: var(--color-rose-100);
  --nova-color-rose-muted: var(--color-rose-200);
  --nova-color-rose-emphasized: var(--color-rose-300);
  --nova-color-rose-solid: var(--color-rose-600);
  --nova-color-rose-focus-ring: var(--color-rose-500);

  @variant dark {
    --nova-color-rose-contrast: var(--color-white);
    --nova-color-rose-fg: var(--color-rose-300);
    --nova-color-rose-subtle: var(--color-rose-900);
    --nova-color-rose-muted: var(--color-rose-800);
    --nova-color-rose-emphasized: var(--color-rose-700);
    --nova-color-rose-solid: var(--color-rose-600);
    --nova-color-rose-focus-ring: var(--color-rose-500);
  }

  /* ===== SLATE ===== */

  --nova-color-slate-50: var(--color-slate-50);
  --nova-color-slate-100: var(--color-slate-100);
  --nova-color-slate-200: var(--color-slate-200);
  --nova-color-slate-300: var(--color-slate-300);
  --nova-color-slate-400: var(--color-slate-400);
  --nova-color-slate-500: var(--color-slate-500);
  --nova-color-slate-600: var(--color-slate-600);
  --nova-color-slate-700: var(--color-slate-700);
  --nova-color-slate-800: var(--color-slate-800);
  --nova-color-slate-900: var(--color-slate-900);
  --nova-color-slate-950: var(--color-slate-950);

  --nova-color-slate-contrast: var(--color-white);
  --nova-color-slate-fg: var(--color-slate-800);
  --nova-color-slate-subtle: var(--color-slate-100);
  --nova-color-slate-muted: var(--color-slate-200);
  --nova-color-slate-emphasized: var(--color-slate-300);
  --nova-color-slate-solid: var(--color-slate-900);
  --nova-color-slate-focus-ring: var(--color-slate-400);

  @variant dark {
    --nova-color-slate-contrast: var(--color-black);
    --nova-color-slate-fg: var(--color-slate-200);
    --nova-color-slate-subtle: var(--color-slate-900);
    --nova-color-slate-muted: var(--color-slate-800);
    --nova-color-slate-emphasized: var(--color-slate-700);
    --nova-color-slate-solid: var(--color-slate-50);
    --nova-color-slate-focus-ring: var(--color-slate-400);
  }

  /* ===== GRAY ===== */

  --nova-color-gray-50: var(--color-gray-50);
  --nova-color-gray-100: var(--color-gray-100);
  --nova-color-gray-200: var(--color-gray-200);
  --nova-color-gray-300: var(--color-gray-300);
  --nova-color-gray-400: var(--color-gray-400);
  --nova-color-gray-500: var(--color-gray-500);
  --nova-color-gray-600: var(--color-gray-600);
  --nova-color-gray-700: var(--color-gray-700);
  --nova-color-gray-800: var(--color-gray-800);
  --nova-color-gray-900: var(--color-gray-900);
  --nova-color-gray-950: var(--color-gray-950);

  --nova-color-gray-contrast: var(--color-white);
  --nova-color-gray-fg: var(--color-gray-800);
  --nova-color-gray-subtle: var(--color-gray-100);
  --nova-color-gray-muted: var(--color-gray-200);
  --nova-color-gray-emphasized: var(--color-gray-300);
  --nova-color-gray-solid: var(--color-gray-900);
  --nova-color-gray-focus-ring: var(--color-gray-400);

  @variant dark {
    --nova-color-gray-contrast: var(--color-black);
    --nova-color-gray-fg: var(--color-gray-200);
    --nova-color-gray-subtle: var(--color-gray-900);
    --nova-color-gray-muted: var(--color-gray-800);
    --nova-color-gray-emphasized: var(--color-gray-700);
    --nova-color-gray-solid: var(--color-gray-50);
    --nova-color-gray-focus-ring: var(--color-gray-400);
  }

  /* ===== ZINC ===== */

  --nova-color-zinc-50: var(--color-zinc-50);
  --nova-color-zinc-100: var(--color-zinc-100);
  --nova-color-zinc-200: var(--color-zinc-200);
  --nova-color-zinc-300: var(--color-zinc-300);
  --nova-color-zinc-400: var(--color-zinc-400);
  --nova-color-zinc-500: var(--color-zinc-500);
  --nova-color-zinc-600: var(--color-zinc-600);
  --nova-color-zinc-700: var(--color-zinc-700);
  --nova-color-zinc-800: var(--color-zinc-800);
  --nova-color-zinc-900: var(--color-zinc-900);
  --nova-color-zinc-950: var(--color-zinc-950);

  --nova-color-zinc-contrast: var(--color-white);
  --nova-color-zinc-fg: var(--color-zinc-800);
  --nova-color-zinc-subtle: var(--color-zinc-100);
  --nova-color-zinc-muted: var(--color-zinc-200);
  --nova-color-zinc-emphasized: var(--color-zinc-300);
  --nova-color-zinc-solid: var(--color-zinc-900);
  --nova-color-zinc-focus-ring: var(--color-zinc-400);

  @variant dark {
    --nova-color-zinc-contrast: var(--color-black);
    --nova-color-zinc-fg: var(--color-zinc-200);
    --nova-color-zinc-subtle: var(--color-zinc-900);
    --nova-color-zinc-muted: var(--color-zinc-800);
    --nova-color-zinc-emphasized: var(--color-zinc-700);
    --nova-color-zinc-solid: var(--color-zinc-50);
    --nova-color-zinc-focus-ring: var(--color-zinc-400);
  }

  /* ===== NEUTRAL ===== */

  --nova-color-neutral-50: var(--color-neutral-50);
  --nova-color-neutral-100: var(--color-neutral-100);
  --nova-color-neutral-200: var(--color-neutral-200);
  --nova-color-neutral-300: var(--color-neutral-300);
  --nova-color-neutral-400: var(--color-neutral-400);
  --nova-color-neutral-500: var(--color-neutral-500);
  --nova-color-neutral-600: var(--color-neutral-600);
  --nova-color-neutral-700: var(--color-neutral-700);
  --nova-color-neutral-800: var(--color-neutral-800);
  --nova-color-neutral-900: var(--color-neutral-900);
  --nova-color-neutral-950: var(--color-neutral-950);

  --nova-color-neutral-contrast: var(--color-white);
  --nova-color-neutral-fg: var(--color-neutral-800);
  --nova-color-neutral-subtle: var(--color-neutral-100);
  --nova-color-neutral-muted: var(--color-neutral-200);
  --nova-color-neutral-emphasized: var(--color-neutral-300);
  --nova-color-neutral-solid: var(--color-neutral-900);
  --nova-color-neutral-focus-ring: var(--color-neutral-400);

  @variant dark {
    --nova-color-neutral-contrast: var(--color-black);
    --nova-color-neutral-fg: var(--color-neutral-200);
    --nova-color-neutral-subtle: var(--color-neutral-900);
    --nova-color-neutral-muted: var(--color-neutral-800);
    --nova-color-neutral-emphasized: var(--color-neutral-700);
    --nova-color-neutral-solid: var(--color-neutral-50);
    --nova-color-neutral-focus-ring: var(--color-neutral-400);
  }

  /* ===== STONE ===== */

  --nova-color-stone-50: var(--color-stone-50);
  --nova-color-stone-100: var(--color-stone-100);
  --nova-color-stone-200: var(--color-stone-200);
  --nova-color-stone-300: var(--color-stone-300);
  --nova-color-stone-400: var(--color-stone-400);
  --nova-color-stone-500: var(--color-stone-500);
  --nova-color-stone-600: var(--color-stone-600);
  --nova-color-stone-700: var(--color-stone-700);
  --nova-color-stone-800: var(--color-stone-800);
  --nova-color-stone-900: var(--color-stone-900);
  --nova-color-stone-950: var(--color-stone-950);

  --nova-color-stone-contrast: var(--color-white);
  --nova-color-stone-fg: var(--color-stone-800);
  --nova-color-stone-subtle: var(--color-stone-100);
  --nova-color-stone-muted: var(--color-stone-200);
  --nova-color-stone-emphasized: var(--color-stone-300);
  --nova-color-stone-solid: var(--color-stone-900);
  --nova-color-stone-focus-ring: var(--color-stone-400);

  @variant dark {
    --nova-color-stone-contrast: var(--color-black);
    --nova-color-stone-fg: var(--color-stone-200);
    --nova-color-stone-subtle: var(--color-stone-900);
    --nova-color-stone-muted: var(--color-stone-800);
    --nova-color-stone-emphasized: var(--color-stone-700);
    --nova-color-stone-solid: var(--color-stone-50);
    --nova-color-stone-focus-ring: var(--color-stone-400);
  }
}

.color-palette-red {
  --nova-color-palette-50: var(--nova-color-red-50);
  --nova-color-palette-100: var(--nova-color-red-100);
  --nova-color-palette-200: var(--nova-color-red-200);
  --nova-color-palette-300: var(--nova-color-red-300);
  --nova-color-palette-400: var(--nova-color-red-400);
  --nova-color-palette-500: var(--nova-color-red-500);
  --nova-color-palette-600: var(--nova-color-red-600);
  --nova-color-palette-700: var(--nova-color-red-700);
  --nova-color-palette-800: var(--nova-color-red-800);
  --nova-color-palette-900: var(--nova-color-red-900);
  --nova-color-palette-950: var(--nova-color-red-950);

  --nova-color-palette-contrast: var(--nova-color-red-contrast);
  --nova-color-palette-fg: var(--nova-color-red-fg);
  --nova-color-palette-subtle: var(--nova-color-red-subtle);
  --nova-color-palette-muted: var(--nova-color-red-muted);
  --nova-color-palette-emphasized: var(--nova-color-red-emphasized);
  --nova-color-palette-solid: var(--nova-color-red-solid);
  --nova-color-palette-focus-ring: var(--nova-color-red-focus-ring);
}

.color-palette-orange {
  --nova-color-palette-50: var(--nova-color-orange-50);
  --nova-color-palette-100: var(--nova-color-orange-100);
  --nova-color-palette-200: var(--nova-color-orange-200);
  --nova-color-palette-300: var(--nova-color-orange-300);
  --nova-color-palette-400: var(--nova-color-orange-400);
  --nova-color-palette-500: var(--nova-color-orange-500);
  --nova-color-palette-600: var(--nova-color-orange-600);
  --nova-color-palette-700: var(--nova-color-orange-700);
  --nova-color-palette-800: var(--nova-color-orange-800);
  --nova-color-palette-900: var(--nova-color-orange-900);
  --nova-color-palette-950: var(--nova-color-orange-950);

  --nova-color-palette-contrast: var(--nova-color-orange-contrast);
  --nova-color-palette-fg: var(--nova-color-orange-fg);
  --nova-color-palette-subtle: var(--nova-color-orange-subtle);
  --nova-color-palette-muted: var(--nova-color-orange-muted);
  --nova-color-palette-emphasized: var(--nova-color-orange-emphasized);
  --nova-color-palette-solid: var(--nova-color-orange-solid);
  --nova-color-palette-focus-ring: var(--nova-color-orange-focus-ring);
}

.color-palette-amber {
  --nova-color-palette-50: var(--nova-color-amber-50);
  --nova-color-palette-100: var(--nova-color-amber-100);
  --nova-color-palette-200: var(--nova-color-amber-200);
  --nova-color-palette-300: var(--nova-color-amber-300);
  --nova-color-palette-400: var(--nova-color-amber-400);
  --nova-color-palette-500: var(--nova-color-amber-500);
  --nova-color-palette-600: var(--nova-color-amber-600);
  --nova-color-palette-700: var(--nova-color-amber-700);
  --nova-color-palette-800: var(--nova-color-amber-800);
  --nova-color-palette-900: var(--nova-color-amber-900);
  --nova-color-palette-950: var(--nova-color-amber-950);

  --nova-color-palette-contrast: var(--nova-color-amber-contrast);
  --nova-color-palette-fg: var(--nova-color-amber-fg);
  --nova-color-palette-subtle: var(--nova-color-amber-subtle);
  --nova-color-palette-muted: var(--nova-color-amber-muted);
  --nova-color-palette-emphasized: var(--nova-color-amber-emphasized);
  --nova-color-palette-solid: var(--nova-color-amber-solid);
  --nova-color-palette-focus-ring: var(--nova-color-amber-focus-ring);
}

.color-palette-yellow {
  --nova-color-palette-50: var(--nova-color-yellow-50);
  --nova-color-palette-100: var(--nova-color-yellow-100);
  --nova-color-palette-200: var(--nova-color-yellow-200);
  --nova-color-palette-300: var(--nova-color-yellow-300);
  --nova-color-palette-400: var(--nova-color-yellow-400);
  --nova-color-palette-500: var(--nova-color-yellow-500);
  --nova-color-palette-600: var(--nova-color-yellow-600);
  --nova-color-palette-700: var(--nova-color-yellow-700);
  --nova-color-palette-800: var(--nova-color-yellow-800);
  --nova-color-palette-900: var(--nova-color-yellow-900);
  --nova-color-palette-950: var(--nova-color-yellow-950);

  --nova-color-palette-contrast: var(--nova-color-yellow-contrast);
  --nova-color-palette-fg: var(--nova-color-yellow-fg);
  --nova-color-palette-subtle: var(--nova-color-yellow-subtle);
  --nova-color-palette-muted: var(--nova-color-yellow-muted);
  --nova-color-palette-emphasized: var(--nova-color-yellow-emphasized);
  --nova-color-palette-solid: var(--nova-color-yellow-solid);
  --nova-color-palette-focus-ring: var(--nova-color-yellow-focus-ring);
}

.color-palette-lime {
  --nova-color-palette-50: var(--nova-color-lime-50);
  --nova-color-palette-100: var(--nova-color-lime-100);
  --nova-color-palette-200: var(--nova-color-lime-200);
  --nova-color-palette-300: var(--nova-color-lime-300);
  --nova-color-palette-400: var(--nova-color-lime-400);
  --nova-color-palette-500: var(--nova-color-lime-500);
  --nova-color-palette-600: var(--nova-color-lime-600);
  --nova-color-palette-700: var(--nova-color-lime-700);
  --nova-color-palette-800: var(--nova-color-lime-800);
  --nova-color-palette-900: var(--nova-color-lime-900);
  --nova-color-palette-950: var(--nova-color-lime-950);

  --nova-color-palette-contrast: var(--nova-color-lime-contrast);
  --nova-color-palette-fg: var(--nova-color-lime-fg);
  --nova-color-palette-subtle: var(--nova-color-lime-subtle);
  --nova-color-palette-muted: var(--nova-color-lime-muted);
  --nova-color-palette-emphasized: var(--nova-color-lime-emphasized);
  --nova-color-palette-solid: var(--nova-color-lime-solid);
  --nova-color-palette-focus-ring: var(--nova-color-lime-focus-ring);
}

.color-palette-green {
  --nova-color-palette-50: var(--nova-color-green-50);
  --nova-color-palette-100: var(--nova-color-green-100);
  --nova-color-palette-200: var(--nova-color-green-200);
  --nova-color-palette-300: var(--nova-color-green-300);
  --nova-color-palette-400: var(--nova-color-green-400);
  --nova-color-palette-500: var(--nova-color-green-500);
  --nova-color-palette-600: var(--nova-color-green-600);
  --nova-color-palette-700: var(--nova-color-green-700);
  --nova-color-palette-800: var(--nova-color-green-800);
  --nova-color-palette-900: var(--nova-color-green-900);
  --nova-color-palette-950: var(--nova-color-green-950);

  --nova-color-palette-contrast: var(--nova-color-green-contrast);
  --nova-color-palette-fg: var(--nova-color-green-fg);
  --nova-color-palette-subtle: var(--nova-color-green-subtle);
  --nova-color-palette-muted: var(--nova-color-green-muted);
  --nova-color-palette-emphasized: var(--nova-color-green-emphasized);
  --nova-color-palette-solid: var(--nova-color-green-solid);
  --nova-color-palette-focus-ring: var(--nova-color-green-focus-ring);
}

.color-palette-emerald {
  --nova-color-palette-50: var(--nova-color-emerald-50);
  --nova-color-palette-100: var(--nova-color-emerald-100);
  --nova-color-palette-200: var(--nova-color-emerald-200);
  --nova-color-palette-300: var(--nova-color-emerald-300);
  --nova-color-palette-400: var(--nova-color-emerald-400);
  --nova-color-palette-500: var(--nova-color-emerald-500);
  --nova-color-palette-600: var(--nova-color-emerald-600);
  --nova-color-palette-700: var(--nova-color-emerald-700);
  --nova-color-palette-800: var(--nova-color-emerald-800);
  --nova-color-palette-900: var(--nova-color-emerald-900);
  --nova-color-palette-950: var(--nova-color-emerald-950);

  --nova-color-palette-contrast: var(--nova-color-emerald-contrast);
  --nova-color-palette-fg: var(--nova-color-emerald-fg);
  --nova-color-palette-subtle: var(--nova-color-emerald-subtle);
  --nova-color-palette-muted: var(--nova-color-emerald-muted);
  --nova-color-palette-emphasized: var(--nova-color-emerald-emphasized);
  --nova-color-palette-solid: var(--nova-color-emerald-solid);
  --nova-color-palette-focus-ring: var(--nova-color-emerald-focus-ring);
}

.color-palette-teal {
  --nova-color-palette-50: var(--nova-color-teal-50);
  --nova-color-palette-100: var(--nova-color-teal-100);
  --nova-color-palette-200: var(--nova-color-teal-200);
  --nova-color-palette-300: var(--nova-color-teal-300);
  --nova-color-palette-400: var(--nova-color-teal-400);
  --nova-color-palette-500: var(--nova-color-teal-500);
  --nova-color-palette-600: var(--nova-color-teal-600);
  --nova-color-palette-700: var(--nova-color-teal-700);
  --nova-color-palette-800: var(--nova-color-teal-800);
  --nova-color-palette-900: var(--nova-color-teal-900);
  --nova-color-palette-950: var(--nova-color-teal-950);

  --nova-color-palette-contrast: var(--nova-color-teal-contrast);
  --nova-color-palette-fg: var(--nova-color-teal-fg);
  --nova-color-palette-subtle: var(--nova-color-teal-subtle);
  --nova-color-palette-muted: var(--nova-color-teal-muted);
  --nova-color-palette-emphasized: var(--nova-color-teal-emphasized);
  --nova-color-palette-solid: var(--nova-color-teal-solid);
  --nova-color-palette-focus-ring: var(--nova-color-teal-focus-ring);
}

.color-palette-cyan {
  --nova-color-palette-50: var(--nova-color-cyan-50);
  --nova-color-palette-100: var(--nova-color-cyan-100);
  --nova-color-palette-200: var(--nova-color-cyan-200);
  --nova-color-palette-300: var(--nova-color-cyan-300);
  --nova-color-palette-400: var(--nova-color-cyan-400);
  --nova-color-palette-500: var(--nova-color-cyan-500);
  --nova-color-palette-600: var(--nova-color-cyan-600);
  --nova-color-palette-700: var(--nova-color-cyan-700);
  --nova-color-palette-800: var(--nova-color-cyan-800);
  --nova-color-palette-900: var(--nova-color-cyan-900);
  --nova-color-palette-950: var(--nova-color-cyan-950);

  --nova-color-palette-contrast: var(--nova-color-cyan-contrast);
  --nova-color-palette-fg: var(--nova-color-cyan-fg);
  --nova-color-palette-subtle: var(--nova-color-cyan-subtle);
  --nova-color-palette-muted: var(--nova-color-cyan-muted);
  --nova-color-palette-emphasized: var(--nova-color-cyan-emphasized);
  --nova-color-palette-solid: var(--nova-color-cyan-solid);
  --nova-color-palette-focus-ring: var(--nova-color-cyan-focus-ring);
}

.color-palette-sky {
  --nova-color-palette-50: var(--nova-color-sky-50);
  --nova-color-palette-100: var(--nova-color-sky-100);
  --nova-color-palette-200: var(--nova-color-sky-200);
  --nova-color-palette-300: var(--nova-color-sky-300);
  --nova-color-palette-400: var(--nova-color-sky-400);
  --nova-color-palette-500: var(--nova-color-sky-500);
  --nova-color-palette-600: var(--nova-color-sky-600);
  --nova-color-palette-700: var(--nova-color-sky-700);
  --nova-color-palette-800: var(--nova-color-sky-800);
  --nova-color-palette-900: var(--nova-color-sky-900);
  --nova-color-palette-950: var(--nova-color-sky-950);

  --nova-color-palette-contrast: var(--nova-color-sky-contrast);
  --nova-color-palette-fg: var(--nova-color-sky-fg);
  --nova-color-palette-subtle: var(--nova-color-sky-subtle);
  --nova-color-palette-muted: var(--nova-color-sky-muted);
  --nova-color-palette-emphasized: var(--nova-color-sky-emphasized);
  --nova-color-palette-solid: var(--nova-color-sky-solid);
  --nova-color-palette-focus-ring: var(--nova-color-sky-focus-ring);
}

.color-palette-blue {
  --nova-color-palette-50: var(--nova-color-blue-50);
  --nova-color-palette-100: var(--nova-color-blue-100);
  --nova-color-palette-200: var(--nova-color-blue-200);
  --nova-color-palette-300: var(--nova-color-blue-300);
  --nova-color-palette-400: var(--nova-color-blue-400);
  --nova-color-palette-500: var(--nova-color-blue-500);
  --nova-color-palette-600: var(--nova-color-blue-600);
  --nova-color-palette-700: var(--nova-color-blue-700);
  --nova-color-palette-800: var(--nova-color-blue-800);
  --nova-color-palette-900: var(--nova-color-blue-900);
  --nova-color-palette-950: var(--nova-color-blue-950);

  --nova-color-palette-contrast: var(--nova-color-blue-contrast);
  --nova-color-palette-fg: var(--nova-color-blue-fg);
  --nova-color-palette-subtle: var(--nova-color-blue-subtle);
  --nova-color-palette-muted: var(--nova-color-blue-muted);
  --nova-color-palette-emphasized: var(--nova-color-blue-emphasized);
  --nova-color-palette-solid: var(--nova-color-blue-solid);
  --nova-color-palette-focus-ring: var(--nova-color-blue-focus-ring);
}

.color-palette-indigo {
  --nova-color-palette-50: var(--nova-color-indigo-50);
  --nova-color-palette-100: var(--nova-color-indigo-100);
  --nova-color-palette-200: var(--nova-color-indigo-200);
  --nova-color-palette-300: var(--nova-color-indigo-300);
  --nova-color-palette-400: var(--nova-color-indigo-400);
  --nova-color-palette-500: var(--nova-color-indigo-500);
  --nova-color-palette-600: var(--nova-color-indigo-600);
  --nova-color-palette-700: var(--nova-color-indigo-700);
  --nova-color-palette-800: var(--nova-color-indigo-800);
  --nova-color-palette-900: var(--nova-color-indigo-900);
  --nova-color-palette-950: var(--nova-color-indigo-950);

  --nova-color-palette-contrast: var(--nova-color-indigo-contrast);
  --nova-color-palette-fg: var(--nova-color-indigo-fg);
  --nova-color-palette-subtle: var(--nova-color-indigo-subtle);
  --nova-color-palette-muted: var(--nova-color-indigo-muted);
  --nova-color-palette-emphasized: var(--nova-color-indigo-emphasized);
  --nova-color-palette-solid: var(--nova-color-indigo-solid);
  --nova-color-palette-focus-ring: var(--nova-color-indigo-focus-ring);
}

.color-palette-violet {
  --nova-color-palette-50: var(--nova-color-violet-50);
  --nova-color-palette-100: var(--nova-color-violet-100);
  --nova-color-palette-200: var(--nova-color-violet-200);
  --nova-color-palette-300: var(--nova-color-violet-300);
  --nova-color-palette-400: var(--nova-color-violet-400);
  --nova-color-palette-500: var(--nova-color-violet-500);
  --nova-color-palette-600: var(--nova-color-violet-600);
  --nova-color-palette-700: var(--nova-color-violet-700);
  --nova-color-palette-800: var(--nova-color-violet-800);
  --nova-color-palette-900: var(--nova-color-violet-900);
  --nova-color-palette-950: var(--nova-color-violet-950);

  --nova-color-palette-contrast: var(--nova-color-violet-contrast);
  --nova-color-palette-fg: var(--nova-color-violet-fg);
  --nova-color-palette-subtle: var(--nova-color-violet-subtle);
  --nova-color-palette-muted: var(--nova-color-violet-muted);
  --nova-color-palette-emphasized: var(--nova-color-violet-emphasized);
  --nova-color-palette-solid: var(--nova-color-violet-solid);
  --nova-color-palette-focus-ring: var(--nova-color-violet-focus-ring);
}

.color-palette-purple {
  --nova-color-palette-50: var(--nova-color-purple-50);
  --nova-color-palette-100: var(--nova-color-purple-100);
  --nova-color-palette-200: var(--nova-color-purple-200);
  --nova-color-palette-300: var(--nova-color-purple-300);
  --nova-color-palette-400: var(--nova-color-purple-400);
  --nova-color-palette-500: var(--nova-color-purple-500);
  --nova-color-palette-600: var(--nova-color-purple-600);
  --nova-color-palette-700: var(--nova-color-purple-700);
  --nova-color-palette-800: var(--nova-color-purple-800);
  --nova-color-palette-900: var(--nova-color-purple-900);
  --nova-color-palette-950: var(--nova-color-purple-950);

  --nova-color-palette-contrast: var(--nova-color-purple-contrast);
  --nova-color-palette-fg: var(--nova-color-purple-fg);
  --nova-color-palette-subtle: var(--nova-color-purple-subtle);
  --nova-color-palette-muted: var(--nova-color-purple-muted);
  --nova-color-palette-emphasized: var(--nova-color-purple-emphasized);
  --nova-color-palette-solid: var(--nova-color-purple-solid);
  --nova-color-palette-focus-ring: var(--nova-color-purple-focus-ring);
}

.color-palette-fuchsia {
  --nova-color-palette-50: var(--nova-color-fuchsia-50);
  --nova-color-palette-100: var(--nova-color-fuchsia-100);
  --nova-color-palette-200: var(--nova-color-fuchsia-200);
  --nova-color-palette-300: var(--nova-color-fuchsia-300);
  --nova-color-palette-400: var(--nova-color-fuchsia-400);
  --nova-color-palette-500: var(--nova-color-fuchsia-500);
  --nova-color-palette-600: var(--nova-color-fuchsia-600);
  --nova-color-palette-700: var(--nova-color-fuchsia-700);
  --nova-color-palette-800: var(--nova-color-fuchsia-800);
  --nova-color-palette-900: var(--nova-color-fuchsia-900);
  --nova-color-palette-950: var(--nova-color-fuchsia-950);

  --nova-color-palette-contrast: var(--nova-color-fuchsia-contrast);
  --nova-color-palette-fg: var(--nova-color-fuchsia-fg);
  --nova-color-palette-subtle: var(--nova-color-fuchsia-subtle);
  --nova-color-palette-muted: var(--nova-color-fuchsia-muted);
  --nova-color-palette-emphasized: var(--nova-color-fuchsia-emphasized);
  --nova-color-palette-solid: var(--nova-color-fuchsia-solid);
  --nova-color-palette-focus-ring: var(--nova-color-fuchsia-focus-ring);
}

.color-palette-pink {
  --nova-color-palette-50: var(--nova-color-pink-50);
  --nova-color-palette-100: var(--nova-color-pink-100);
  --nova-color-palette-200: var(--nova-color-pink-200);
  --nova-color-palette-300: var(--nova-color-pink-300);
  --nova-color-palette-400: var(--nova-color-pink-400);
  --nova-color-palette-500: var(--nova-color-pink-500);
  --nova-color-palette-600: var(--nova-color-pink-600);
  --nova-color-palette-700: var(--nova-color-pink-700);
  --nova-color-palette-800: var(--nova-color-pink-800);
  --nova-color-palette-900: var(--nova-color-pink-900);
  --nova-color-palette-950: var(--nova-color-pink-950);

  --nova-color-palette-contrast: var(--nova-color-pink-contrast);
  --nova-color-palette-fg: var(--nova-color-pink-fg);
  --nova-color-palette-subtle: var(--nova-color-pink-subtle);
  --nova-color-palette-muted: var(--nova-color-pink-muted);
  --nova-color-palette-emphasized: var(--nova-color-pink-emphasized);
  --nova-color-palette-solid: var(--nova-color-pink-solid);
  --nova-color-palette-focus-ring: var(--nova-color-pink-focus-ring);
}

.color-palette-rose {
  --nova-color-palette-50: var(--nova-color-rose-50);
  --nova-color-palette-100: var(--nova-color-rose-100);
  --nova-color-palette-200: var(--nova-color-rose-200);
  --nova-color-palette-300: var(--nova-color-rose-300);
  --nova-color-palette-400: var(--nova-color-rose-400);
  --nova-color-palette-500: var(--nova-color-rose-500);
  --nova-color-palette-600: var(--nova-color-rose-600);
  --nova-color-palette-700: var(--nova-color-rose-700);
  --nova-color-palette-800: var(--nova-color-rose-800);
  --nova-color-palette-900: var(--nova-color-rose-900);
  --nova-color-palette-950: var(--nova-color-rose-950);

  --nova-color-palette-contrast: var(--nova-color-rose-contrast);
  --nova-color-palette-fg: var(--nova-color-rose-fg);
  --nova-color-palette-subtle: var(--nova-color-rose-subtle);
  --nova-color-palette-muted: var(--nova-color-rose-muted);
  --nova-color-palette-emphasized: var(--nova-color-rose-emphasized);
  --nova-color-palette-solid: var(--nova-color-rose-solid);
  --nova-color-palette-focus-ring: var(--nova-color-rose-focus-ring);
}

.color-palette-slate {
  --nova-color-palette-50: var(--nova-color-slate-50);
  --nova-color-palette-100: var(--nova-color-slate-100);
  --nova-color-palette-200: var(--nova-color-slate-200);
  --nova-color-palette-300: var(--nova-color-slate-300);
  --nova-color-palette-400: var(--nova-color-slate-400);
  --nova-color-palette-500: var(--nova-color-slate-500);
  --nova-color-palette-600: var(--nova-color-slate-600);
  --nova-color-palette-700: var(--nova-color-slate-700);
  --nova-color-palette-800: var(--nova-color-slate-800);
  --nova-color-palette-900: var(--nova-color-slate-900);
  --nova-color-palette-950: var(--nova-color-slate-950);

  --nova-color-palette-contrast: var(--nova-color-slate-contrast);
  --nova-color-palette-fg: var(--nova-color-slate-fg);
  --nova-color-palette-subtle: var(--nova-color-slate-subtle);
  --nova-color-palette-muted: var(--nova-color-slate-muted);
  --nova-color-palette-emphasized: var(--nova-color-slate-emphasized);
  --nova-color-palette-solid: var(--nova-color-slate-solid);
  --nova-color-palette-focus-ring: var(--nova-color-slate-focus-ring);
}

.color-palette-gray {
  --nova-color-palette-50: var(--nova-color-gray-50);
  --nova-color-palette-100: var(--nova-color-gray-100);
  --nova-color-palette-200: var(--nova-color-gray-200);
  --nova-color-palette-300: var(--nova-color-gray-300);
  --nova-color-palette-400: var(--nova-color-gray-400);
  --nova-color-palette-500: var(--nova-color-gray-500);
  --nova-color-palette-600: var(--nova-color-gray-600);
  --nova-color-palette-700: var(--nova-color-gray-700);
  --nova-color-palette-800: var(--nova-color-gray-800);
  --nova-color-palette-900: var(--nova-color-gray-900);
  --nova-color-palette-950: var(--nova-color-gray-950);

  --nova-color-palette-contrast: var(--nova-color-gray-contrast);
  --nova-color-palette-fg: var(--nova-color-gray-fg);
  --nova-color-palette-subtle: var(--nova-color-gray-subtle);
  --nova-color-palette-muted: var(--nova-color-gray-muted);
  --nova-color-palette-emphasized: var(--nova-color-gray-emphasized);
  --nova-color-palette-solid: var(--nova-color-gray-solid);
  --nova-color-palette-focus-ring: var(--nova-color-gray-focus-ring);
}

.color-palette-zinc {
  --nova-color-palette-50: var(--nova-color-zinc-50);
  --nova-color-palette-100: var(--nova-color-zinc-100);
  --nova-color-palette-200: var(--nova-color-zinc-200);
  --nova-color-palette-300: var(--nova-color-zinc-300);
  --nova-color-palette-400: var(--nova-color-zinc-400);
  --nova-color-palette-500: var(--nova-color-zinc-500);
  --nova-color-palette-600: var(--nova-color-zinc-600);
  --nova-color-palette-700: var(--nova-color-zinc-700);
  --nova-color-palette-800: var(--nova-color-zinc-800);
  --nova-color-palette-900: var(--nova-color-zinc-900);
  --nova-color-palette-950: var(--nova-color-zinc-950);

  --nova-color-palette-contrast: var(--nova-color-zinc-contrast);
  --nova-color-palette-fg: var(--nova-color-zinc-fg);
  --nova-color-palette-subtle: var(--nova-color-zinc-subtle);
  --nova-color-palette-muted: var(--nova-color-zinc-muted);
  --nova-color-palette-emphasized: var(--nova-color-zinc-emphasized);
  --nova-color-palette-solid: var(--nova-color-zinc-solid);
  --nova-color-palette-focus-ring: var(--nova-color-zinc-focus-ring);
}

.color-palette-neutral {
  --nova-color-palette-50: var(--nova-color-neutral-50);
  --nova-color-palette-100: var(--nova-color-neutral-100);
  --nova-color-palette-200: var(--nova-color-neutral-200);
  --nova-color-palette-300: var(--nova-color-neutral-300);
  --nova-color-palette-400: var(--nova-color-neutral-400);
  --nova-color-palette-500: var(--nova-color-neutral-500);
  --nova-color-palette-600: var(--nova-color-neutral-600);
  --nova-color-palette-700: var(--nova-color-neutral-700);
  --nova-color-palette-800: var(--nova-color-neutral-800);
  --nova-color-palette-900: var(--nova-color-neutral-900);
  --nova-color-palette-950: var(--nova-color-neutral-950);

  --nova-color-palette-contrast: var(--nova-color-neutral-contrast);
  --nova-color-palette-fg: var(--nova-color-neutral-fg);
  --nova-color-palette-subtle: var(--nova-color-neutral-subtle);
  --nova-color-palette-muted: var(--nova-color-neutral-muted);
  --nova-color-palette-emphasized: var(--nova-color-neutral-emphasized);
  --nova-color-palette-solid: var(--nova-color-neutral-solid);
  --nova-color-palette-focus-ring: var(--nova-color-neutral-focus-ring);
}

.color-palette-stone {
  --nova-color-palette-50: var(--nova-color-stone-50);
  --nova-color-palette-100: var(--nova-color-stone-100);
  --nova-color-palette-200: var(--nova-color-stone-200);
  --nova-color-palette-300: var(--nova-color-stone-300);
  --nova-color-palette-400: var(--nova-color-stone-400);
  --nova-color-palette-500: var(--nova-color-stone-500);
  --nova-color-palette-600: var(--nova-color-stone-600);
  --nova-color-palette-700: var(--nova-color-stone-700);
  --nova-color-palette-800: var(--nova-color-stone-800);
  --nova-color-palette-900: var(--nova-color-stone-900);
  --nova-color-palette-950: var(--nova-color-stone-950);

  --nova-color-palette-contrast: var(--nova-color-stone-contrast);
  --nova-color-palette-fg: var(--nova-color-stone-fg);
  --nova-color-palette-subtle: var(--nova-color-stone-subtle);
  --nova-color-palette-muted: var(--nova-color-stone-muted);
  --nova-color-palette-emphasized: var(--nova-color-stone-emphasized);
  --nova-color-palette-solid: var(--nova-color-stone-solid);
  --nova-color-palette-focus-ring: var(--nova-color-stone-focus-ring);
}
