---
// ===== Components
import BaseLayout from "../layouts/BaseLayout/BaseLayout.astro";
import Heading from "../components/Typography/Heading/Heading.astro";
import Link from "../components/Typography/Link/Link.astro";
---

<BaseLayout>
  <div class="p-16 space-y-6">
    <Heading as="h1" size="2xl">Link</Heading>

    <div>
      <Link href="#">Visit Nova UI</Link>
    </div>

    <div>
      <Heading class="mb-2">Underline</Heading>

      <div>
        <Link underline="always" href="#">
          Link (Underline always)
        </Link>
      </div>

      <div>
        <Link underline="hover" href="#">
          Link (Underline on hover)
        </Link>
      </div>

      <div>
        <Link underline="never" href="#">
          Link (Underline never)
        </Link>
      </div>
    </div>

    <div>
      <p>
        Visit the{" "}
        <Link href="#" underline="always" colorPalette="teal">
          Nova UI
        </Link>
        {" "}website
      </p>
    </div>

    <div>
      <Heading class="mb-2">External</Heading>
      <Link href="#" as="p" colorPalette="purple" external>
        Visit Nova UI []
      </Link>
    </div>
  </div>
</BaseLayout>
