---
// ===== Components
import Button from "../Button/Button.astro";

// ===== Types
import type { ButtonsBaseProps } from "../Buttons.types.ts";

// ===== Props
const { ...props }: ButtonsBaseProps = Astro.props;
---

<Button iconOnly {...props}>
  <slot />
</Button>
