---
// ===== Styles
import "../../styles/global.css";

// ===== Components
import Heading from "../../components/Typography/Heading/Heading.astro";
import Link from "../../components/Typography/Link/Link.astro";

// ===== Types
import type { BaseLayoutProps } from "./BaseLayout.types.ts";

// ===== Props
const DEFAULT_PAGE_TITLE = "Nova UI";
const DEFAULT_PAGE_DESCRIPTION = "Astro UI library";

const {
  title = DEFAULT_PAGE_TITLE,
  description = DEFAULT_PAGE_DESCRIPTION,
}: BaseLayoutProps = Astro.props;
---

<!doctype html>
<html lang="es">
<head>
  <!-- ===== <meta charset | http-equiv | viewport /> ===== -->

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />

  <!-- ===== <title></title> ===== -->

  <title>{title}</title>

  <!-- ===== icons ===== -->

  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

  <!-- ===== 'SEO' meta tags ===== -->

  <meta name="description" content={description} />
  <meta name="robots" content="all" />
</head>
<body class="flex flex-col min-h-screen">
  <header class="p-8">
    <nav>
      <ul>
        <li class="mb-2">
          <Heading as="h3">Typography</Heading>
          <ul>
            <li>
              <Link href="/nova-link">Link</Link>
            </li>
            <li>
              <Link href="/nova-text">Text</Link>
            </li>
            <li>
              <Link href="/nova-heading">Heading</Link>
            </li>
          </ul>
        </li>
        <li class="mb-2">
          <Heading as="h3">Layout</Heading>
          <ul>
            <li>
              <Link href="/nova-stack">Stack</Link>
            </li>
          </ul>
        </li>
        <li class="mb-2">
          <Heading as="h3">Buttons</Heading>
          <ul>
            <li>
              <Link href="/nova-button">Button</Link>
            </li>
            <li>
              <Link href="/nova-icon-button">Icon Button</Link>
            </li>
            <li>
              <Link href="/nova-hamburger-button">Hamburger Button</Link>
            </li>
            <li>
              <Link href="/nova-close-button">Close Button</Link>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <slot />
  </main>
</body>
</html>
