---
import "../../styles/global.css";

import type { BaseLayoutProps } from "./BaseLayout.types.ts";

import Link from "../../components/Typography/Link/Link.astro";

export const DEFAULT_PAGE_TITLE = "Nova UI";
export const DEFAULT_PAGE_DESCRIPTION = "Astro UI library";

const {
  title = DEFAULT_PAGE_TITLE,
  description = DEFAULT_PAGE_DESCRIPTION,
}: BaseLayoutProps = Astro.props;
---

<!doctype html>
<html lang="es">
<head>
  <!-- ===== <meta charset | http-equiv | viewport /> ===== -->

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />

  <!-- ===== <title></title> ===== -->

  <title>{title}</title>

  <!-- ===== icons ===== -->

  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

  <!-- ===== 'SEO' meta tags ===== -->

  <meta name="description" content={description} />
  <meta name="robots" content="all" />
</head>
<body class="flex flex-col min-h-screen">
  <header class="p-6">
    <nav>
      <ul>
        <li class="mb-2">
          <h2 class="text-lg font-bold">Typography</h2>
          <ul>
            <li>
              <Link href="/link">Link</Link>
            </li>
          </ul>
        </li>
        <li class="mb-2">
          <h2 class="text-lg font-bold">Buttons</h2>
          <ul>
            <li>
              <Link href="/button">Button</Link>
            </li>
            <li>
              <Link href="/icon-button">Icon Button</Link>
            </li>
            <li>
              <Link href="/close-button">Close Button</Link>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <slot />
  </main>
</body>
</html>
